  main {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  footer {
    text-align: center;
    margin-top: 36px;
    padding-bottom: 17px;
  }
  
  .ant-input {
    margin-top: 19px;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 420px) {
    .input-container {
      margin: 0 auto;
      width: 387px;
      margin-top: 17.23px;
      margin-bottom: 10px;
    }
    main {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
}